*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar{
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.nav-left-logo{
    margin-left: 20px;
    display: flex;
    width: 30px;
}

.nav-middle-container{
    font-size: 20px;
    line-height: 1.5rem;
 
}


.nav-right-container{
    margin-right: 20px;

}

button{
    color: white;
    background-color: grey;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}

.login-btn{
    background-color: whitesmoke;
    color: black;
}

.get-started-btn{
    background-color: black;
}


.nav-item-container{
    display: flex;
    flex-wrap: wrap;
}

.nav-items{
    margin: 1rem;
    list-style-type: none;
    
}


.nav-item-link{
    text-decoration: none;
    color: #000000;

}

.nav-item-link:hover{
    color: #3b82f6;
}




.hero-section{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: -1;

}


.hero-main{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.hero-img{
    width: 100%;
    height: 760px;
    position: relative;
}


.inner-hero{
    background-color: #ffffff;
    width: 850px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    }


    .form-section{
        margin-top: 30px;
        display: flex;
        position: relative;
        justify-content: space-evenly;


        & p{
            position: absolute;
            left: 200px;
            font-size: 25px;
        }   
        
        & div{
            margin-top: 100px;
            width: 140px;
            border: 1px solid black;
            border-radius: 5px;
            padding-left: 20px;
            position: relative;
            align-items: center;
            height: 35px;
            background-color: #FAFAFA;

        }
}


    .form-design{
        display: flex;
        left: 30px;  
        margin-top: 100px; 
    }



    .sub-btn{
        margin-left: 85px;
        width: 500px;
        margin-top: 25px;
        padding-left: 20px;
        background-color: #ECECEC;
        color: #000000;
  
    }

    .offer-btn{
        width: 250px;
        margin-top: 25px;
        padding-left: 20px;
        background-color: #00EBC7;
        color: #000000;
    }




 .zapper{
    display: inline-flex;
    margin-top: 500px;
} 

    .zapper-btn{
        padding-left: 20px;
        background-color: #7E8181;
        width: 150px;
        height: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 25px;
        color: #ffffff;
        margin-top: 630px;
        border: 1px solid black;
    }


        .buy-sell-favorite{
            width: 100%;
            height: 280px;
            display: flex;
            position: relative;
            justify-content: center;
            background-color: yellow;

        }

        .para{
            position: absolute;
            margin-top: 30px;
            
        }


        .company{
            margin-top: 50px;

        }


        .company-img{
            margin-top: 50px;

        }




        .features-section{
            width: 100%;
            height: 600px;
            background-color: white;
            display: flex;
            position: relative;
            



    .features-para{
        margin-top: 40px;
        padding-left: 50px;

    }


    .left-section{
        display: flex;
        align-items: start;
        gap: 20px;
        margin-top: 40px;
        position: absolute;
        left: 80px;
    
    }



    .middle-section{
        display: flex;
        align-items: start;
        gap: 20px;
        margin-top: 40px;
        position: absolute;
        left: 500px;

    }     


    .right-section{
        display: flex;
        align-items: start;
        gap: 20px;
        margin-top: 40px;
        position: absolute;
        left: 1200px;
        
    }



    & p{
        font-size: 20px;
        color: #9393c4;
        font-weight: 400;
        padding-top: 20px;
        max-width: 400px;
        }
}


.features-btn{
    position: absolute;
    left: 800px;
    margin-top: 450px;
    background-color: white;
    color: black;
    border: 1px solid black;
}


hr{
    color: black;
}


/* buy and sell start*/

.buy-sell-section{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: #F8F8F8;
    position: relative;
}



.vertical-rule {
    width: 1px;             /* The thickness of the vertical line */
    height: 450px;           /* The height of the vertical line */
    background-color: black; /* The color of the vertical line */
    margin: 0 20px;          /* Space around the vertical line */
    display: inline-block;   /* Ensure it stays inline with other elements */
}


.main-buy-sell {
    display: flex;           /* Flexbox layout to arrange items horizontally */
    align-items: center;     /* Vertically align items in the center */




    & div > button{
        margin-top: 50px;
        background-color: #000000;
        color: white;
    }
}


.circle-img-1{
    margin-top: 50px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 18px;
    position: relative;
    display: flex;
    height: 60px;


    & img{
        margin-top: 5px;
        height: 35px;
        width: 40px;
    }

    & p{
        position: absolute;
        padding-top: 10px;
        padding-left: 55px;
    }
}

.circle-img-2{
        padding-left: 18px;
        margin-top: 30px;
        width: 500px;
        border: 1px solid black;
        border-radius: 5px;
        position: relative;
        display: flex;
        height: 60px;

        & img{
            margin-top: 5px;
            height: 35px;
            width: 40px;
        }
        }

        & p{
            position: absolute;
            padding-top: 10px;
            padding-left: 55px;
        }


.circle-img-3{
            padding-left: 18px;
            margin-top: 30px;
            width: 500px;
            border: 1px solid black;
            border-radius: 5px;
            position: relative;
            display: flex;
            height: 60px;


    & img{
        margin-top: 5px;
        height: 35px;
        width: 40px;
    }


    & p{
        position: absolute;
        padding-top: 10px;
        padding-left: 55px;
    }
}
   


/* buy and sell end*/



.content-section{
    width: 100%;
    height: 400px;
    background-color: #CFBAFF;
    position: relative;
    display: flex;


    .content-area{
        width: 100%;
        height: 400px;
        position: absolute;
    }


    & p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        color: black;
        font-weight: 500;
        padding-top: 100px;
        max-width: 500px;
        margin-left: 600px;

        }

    .content-btn{
        position: absolute;
        left: 800px;
        margin-top: 280px;
        background-color: black;
        color: white;
        border: 1px solid black;
    }

}
    


.big-footer-section{
    width: 100%;
    height: 440px;
    background-color: #000000;
    color: white;
}


.footer-content{
    padding: 30px 70px;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}



.list-div{
    list-style: none;
    padding-top: 20px;

    & li > a{
        text-decoration: none;
        color: white;
        font-size: 16px;

    }
}


hr{
    color: white;
}

.footer-para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 40px;
}








